:root {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--dark);
  background-color: var(--dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;

  --primary: hsl(60, 3%, 95%);
  --primaryHover: hsl(60, 3%, 94%);
  --secondary: hsl(40, 18%, 90%);
  --secondaryHover: hsl(40, 18%, 87%);
  --secondaryDark: hsl(40, 18%, 70%);
  --accent: hsl(81, 40%, 50%);
  --dark: hsl(100, 2%, 25%);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  max-width: 100vw;
  min-height: 100vh;
}

#logo {
  margin: 5rem auto;
  color: var(--primary)
}

.logo--name {
  display: block;
  text-align: center;
  font-size: 3.2em;
  line-height: 1;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1.1rem;
}

.logo--subtext {
  display: block;
  text-align: center;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: var(--accent);
  font-weight: 400;
  letter-spacing: 0.3rem;
}

#content {
  background-color: var(--secondaryDark);
  padding: 3rem 4rem;
  border-radius: 1rem;
  gap: 2rem;

  display: flex;
  flex-direction: column;
}

.bullet {
  background-color: var(--secondary);
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.bullet:hover {
  background-color: var(--secondaryHover);
  box-shadow: 10px 15px 20px #3f413e27;
}

.bullet--text {
  flex: 4;
  text-align: left;
}

.bullet--icon {
  color: var(--accent);
  flex: 1;
  align-self: center;
  align-items: center;
}


.hero--user {
  display: inline-block;
  background-color: var(--secondary);
  padding: 1.5rem;
  min-width: 4rem;
  min-height: 4rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.hero--name {
  text-transform: uppercase;
}

.hero--subtext {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
}

.hero--accent {
  color: var(--accent);
}

.hero--accent-icon {
  margin-right: 0.5rem;
  color: var(--accent)
}

.hero--accent-icon-bg {
  color: var(--secondary)
}

footer {
  margin: 2rem auto 0;
  letter-spacing: 2px;
  color: var(--primary);
}

a {
  text-decoration: none;
  font-weight: 700;
  color: var(--accent);
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

a:hover {
  color: var(--primary);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark);
    background-color: var(--primary);
  }

  footer,
  #logo {
    color: var(--dark);
  }

  #content {
    box-shadow: 15px 15px 30px hsl(100, 2%, 80%);
    background-color: var(--secondary);
  }

  .bullet {
    background-color: var(--primary);
  }

  .bullet:hover {
    background-color: var(--primaryHover);
    box-shadow: 10px 15px 20px hsl(81, 10%, 80%);
  }

  .hero--user {
    background-color: var(--primary);

  }

  a:hover {
    color: var(--dark);
  }
}

@media only screen and (max-width: 600px) {
  #logo {
    margin: auto;
    margin-bottom: 2rem;
  }

  #content {
    padding: 2rem;
  }

  .bullet {
    flex-direction: column-reverse;
  }

  .bullet--text {
    text-align: center;
  }

  .hero--subtext {
    display: flex;
    flex-direction: column;
  }
}